.head{
      
    background-color:white;
    border:solid;
     }
  
     .note{
       background-color: red;
       border: dotted;
     }
  
  .grid {
    background: darkred;
    background-color: #F0F8FF;
    display: flex;
    color: red;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    
  }


  
  .camel {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    padding: 150px;
    background-color:#E8E5E4;
    font-size: 30px;
  }
  
  
  .chameleon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 300px;
    padding: 250px;
    background-color:#E8E5E4;  }
  
  .cicada {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 250px;
    padding: 50px;
    background-color:#E8E5E4;
  }
  
  .panda {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    padding: 50px;
    background-color:#E8E5E4;
  }
  
  .pigeon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    padding: 150px;
    background-color:#E8E5E4;
    font-size: 30px;
  }
  
  